{% extends 'main.html' %}
{% load my_custom_tags %}
{% load form_filters %}

{% load static %}

{% block content %}
<section id = "About-Me">
    <div id="fh5co-about" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>About Me</h2>
                </div>
            </div>
            <!-- (a) -->
            <div class="row">
                <div class="col-md-4">
                    <ul class="info">
                        <li><span class="first-block">Full Name:</span><span class="second-block">Arun Deepak Tirkey</span></li>
                        <li><span class="first-block">Phone:</span><span class="second-block">+44 7407650945</span></li>
                        <li><span class="first-block">Email:</span><span class="second-block">arundeepak86999@gmail.com</span></li>
                        <!-- <li><span class="first-block">Website:</span><span class="second-block">www.yoursite.com</span></li> -->
                        <li><span class="first-block">Address:</span><span class="second-block">JayHouse 88 - 90 London Road, Leicester, UK LE20RD</span></li>
                    </ul>
                </div>
                <!-- (b) -->
                <div class="col-md-8">
                    <h2>Hello There!</h2>
                        <p class="text-justify">As a developer and data science enthusiast with a Master of Science degree in Information Technology from the University of Derby, I am looking for an opportunity to apply my data analysis and development skills at an entry level position. I graduated with Distinction in March 2023, and I have also completed a certification in Data Science with ML and AI from Ivy Professional School, where I gained hands-on experience in various data science projects using Python and SQL.
                        </p>
                        <p class="text-justify"> I have also earned multiple honors and certifications from Coursera, such as Machine Learning with Python, Databases and SQL for Data Science with Python, and IBM Data Science Specialization. I am fluent in English and Hindi, and have a valid graduate visa till 2025.
                        </p> 
                        <p class="text-justify">Currently, I am working as a Team Member at KFC, where I demonstrate my teamwork, communication, and customer service skills.
                        </p>
                    
                    <p> 
                        <ul class="fh5co-social-icons">
                            <!-- <li><a href="#"><i class="icon-twitter2"></i></a></li> -->
                            <li><a href="https://www.facebook.com/arundeepaktirkey/"><i class="icon-facebook2"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/arundt/"><i class="icon-linkedin2"></i></a></li>
                            <li><a href="https://github.com/arundeepaktirkey/"><i class="icon-github"></i></a></li>
                        </ul>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Background-Experience">
    <div id="fh5co-resume" class="fh5co-bg-color">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>My Resume</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline">
                        <li class="timeline-heading text-center animate-box">
                            <div><h3>Work Experience</h3></div>
                        </li>

                    <!-- Here is the custom template tag for work experience -->
                        <ul class="timeline">
                            {% render_experience workexps %}
                        </ul>

                        <br>
                        <li class="timeline-heading text-center animate-box">
                            <div><h3>Education</h3></div>
                        </li>
                    <!-- Here is the custom template tag for education -->
                        <ul class="timeline">
                            {% render_education educations %}
                        </ul>    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Services">
    <div id="fh5co-features" class="animate-box">
        <div class="container">
            <div class="services-padding">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>My Services</h2>
                    </div>
                </div>

                {% render_feature_matrix services %}
                
            </div>
        </div>
    </div>
</section>

<section id="Skills">
    <div id="fh5co-skills" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Skills</h2>
                </div>
            </div>

            <div class="row row-pb-md">
                <h3>Web Devs:</h3>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong>
                    <img style="height: 80px; width: 80px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain-wordmark.svg" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain-wordmark.svg" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg" alt="Example Image"/>
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" alt="Example Image"/>
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain.svg" alt="Example Image"/>
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/dsa.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>
            </div>

            <div class="row row-pb-md">
                <h3>Data Science:</h3>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong>
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/dviz.jpg' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/ml.jpg' %}" alt="Example Image" />
                    </strong></span></div>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/dl.jpg' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/nlp.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/ds.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/stat.jpg' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/tableau.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

            </div>

            <div class="row row-pb-md">
                <h3>DS python libraries:</h3>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong>
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/pandas.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/mlt.jpg' %}" alt="Example Image" />
                    </strong></span></div>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/sci.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/plt.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/sbn.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/scipy.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 50px;">
                    <div><span><strong> 
                    <img style="height: 80px; width: 80px;" src="{% static '/frontwebapp/images/folium.png' %}" alt="Example Image" />
                    </strong></span></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="Internships">
    <div id="fh5co-work" class="fh5co-bg-dark">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Internships</h2>
                </div>
            </div>

            {% render_internships internships %}

        </div>
    </div>
</section>

<section id="Projects">
    <div id="fh5co-blog">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Projects</h2>
                </div>
            </div>

            {% render_projects projects %}

        </div>
    </div>
</section>

<section id="Contact-Me">
    <div id="fh5co-consult">
        <div class="video fh5co-video" style="background-image: url(static/frontwebapp/images/cover_bg_1.jpg);">
            <div class="overlay"></div>
        </div>
        <div class="choose animate-box">
            <h2>Contact</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field|add_placeholder:field.help_text }}</small>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" value="Send Message" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</section>

<!-- <div id="map" class="fh5co-map"></div>
</div> -->

<div id="fh5co-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2017 Free HTML5 Template. All Rights Reserved. <br>Taken Design help from <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> </p>
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop";"><i class="icon-arrow-up22"></i></a>
</div>

{% endblock content %}